* {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: rgb(124, 120, 120);
  width: 99vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px brown solid;
}

#btnheader {
  color: white;
  font-size: 150%;
  box-shadow: black;
  margin-left: 25px;
}

.logo {
  display: flex;
  margin-top: 8px;
  font-size: 300%;
  color: white;

}

#PesquisaLivro {
  height: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 6px;
  background-color: rgb(194, 194, 194);
}

.pesquisa {
  display: flex;
  align-items: center;
}

.Carrinho {
  font-size: 30px;
  display: flex
}

main {
  display: flex;
  box-sizing: border-box;

  height: 100%;
  width: 99vw;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

}

img {
  width: 250px;
  margin: 10px;
  object-fit: cover;
}

#titulo-livros {
  color: #fff;
  display: flex;
  text-align: center;
}

.Caixa1:hover {
  background-color: rgb(68, 67, 67);
  transition: 0.35s;
}

.Caixa1 {

  box-shadow: 5px 5px 5px rgb(87, 87, 87);
  box-sizing: border-box;
  max-width: 300px;
  max-height: 3750px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: rgba(80, 79, 79, 0.521);
}

i:hover {
  cursor: pointer;
}

.addCarrinho {
  padding: 3px;
  background-color: rgb(126, 0, 0);
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}

a:hover {
  transform: scale(1.2);
  transition: 0.5s;
}



.addCarrinho:hover {
  background-color: red;
  transition: 500ms;
  cursor: pointer;
}

#centrodeimagens {
  display: flex;
  box-sizing: border-box;
  background-color: rgb(32, 32, 32);
  height: 100vh;
  width: 60vw;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  background-color: rgb(32, 32, 32);
}

p {
  margin: 5px;
  color: white;
}

#carrinhodiv {
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  height: 100vh;
  width: 20vw;
}

#login:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#Login {
  color: white;
  font-size: 150%;
  box-shadow: black;
  margin-left: 0px;
}

#Pesquisario:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  cursor: pointer;
}

#Pesquisario {
  background-color: rgb(94, 91, 91);
  padding: 10px;
  border-radius: 100%;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

aside {
  box-shadow: 10px 5px 5px black;
  height: 100vh;
  width: 25%;
  margin-right: 0;
  background-color: brown;
  right: 0;
}

aside.show {
  width: auto;
}

.carrinho-titulo-main {
  padding-bottom: 15px;
  padding-top: 15px;
  color: white;
  font-size: 50px;
  text-align: center;
  background-color: black;
}