header {
  background-color: rgb(124, 120, 120);
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.btnheader {
  height: 30px;
}


h1 {
  height: 3%;

}

#PesquisaLivro {
  border-radius: 4px;
}

.pesquisa {
  display: flex;
  align-items: center;

}

.Carrinho {
  font-size: 30px;
  display: flex
}

main {
  background-color: rgb(187, 184, 226);
  height: 90vh;

}

div img {
  width: 30vh;
  margin: 5px;
}


.Caixa1 {
  border: 2px solid rgb(0, 0, 0);
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
   justify-content: center;
}

.Caixa2 {
  border: 2px solid rgb(0, 0, 0);
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}

.Caixa3 {
  border: 2px solid rgb(0, 0, 0);
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  justify-content: center;
}