#Login {
  color: rgb(243, 18, 18);
  font-size: 150%;
  box-shadow: rgb(204, 245, 20);
  margin-left: 0px;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: darkgray;
} 

 div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
  border-radius: 15px;
  color: #fff;
}

input {
  padding: 15px;
  border: none;
  outline: 15px;
  font-size: 15px;

}

input button {
  background-color: blue;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: blanchedalmond;
  font-size: 15px;

}

.fundo-login {
  background-color: rgb(82, 82, 82);
  border: 2px rgb(0, 0, 0) solid;
}


header {
  background-color: rgb(124, 120, 120);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px brown solid;
}

.logo {
  display: flex;
  margin-top: 8px;
  font-size: 300%;
  color: white; 
}

#btnheader {
  display: flex;
  margin-top: 8px;
  font-size: 300%;
  color: white; 
}

#Login {
  display: flex;
  margin-top: 8px;
  font-size: 300%;
  color: white; 
}

.logo:hover {
  
  cursor: pointer;
}
i {
  box-shadow: 5px 5px 5px rgb(87, 87, 87);
}
#btnheader {
  cursor: pointer;
}

#Login {
  cursor: pointer;
}